<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>여자배구 선수목록</h1>
<table>
    <thead>
    <tr>
        <th>No</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Sex</th>
        <th>Birthday</th>
        <th>Mail Address</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.no}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.sex}"></td>
        <td th:text="${employee.birthday}"></td>
        <td th:text="${employee.mailAddress}"></td>
    </tr>
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li th:each = "i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == pageNumber} ? active : ''">
            <a th:href="|/employee/list?pageNumber=${i}|" th:text="${i}">1</a>
        </li>
    </ul>
</div>

</body>
</html>